<hr/>
<h1><center>Data Collection && Wrangling - Phnom Penh</center></h1>
<hr/>

***

# Import Packages
***

In [17]:
# importing the required modules
import glob
# Import the neccessary modules for data manipulation and visual representation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as matplot
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

# Read the Data
***

In [18]:
# specifying the path to csv files
# change ur directory here based on pwd

path = "/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh"

# excel files in the path
file_list = glob.glob(path + "/*.xlsx")
file_list

['/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/NOVEMBER-2020.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/FEBRUARY-2022.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/MARCH-2022.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/APRIL-2021.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/NOVEMBER-2021.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/MAY-2021.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/AUGUST-2021.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/JANUARY-2022.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/DECEMBER-2021.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/DECEMBER-2020.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/JULY-2021.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/jUNE-2021.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/SEPTEMBER-2020.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/OCTOBER-2021.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/JANUARY-2021.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/OCTOBER-2020.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/SEPTEMBER-2021.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/~$NOVEMBER-2020.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/APRIL-2022.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/FEBRUARY-2021.xlsx',
 '/Users/votanasrey/Documents/Term10/ProjectII/Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/phnom_penh/MARCH-2021.xlsx']

In [19]:
# list of excel files we want to merge.
# pd.read_excel(file_path) reads the excel
# data into pandas dataframe.
excl_list = []

for file in file_list:
    excl_list.append(pd.read_excel(file))

ValueError: Excel file format cannot be determined, you must specify an engine manually.

In [20]:
# create a new dataframe to store the
# merged excel file.

excl_merged = pd.DataFrame()

for excl_file in excl_list:
    # appends the data into the excl_merged
    # dataframe.
    excl_merged = excl_merged.append(excl_file, ignore_index=True)

# exports the dataframe into excel file with
# specified n
#excl_merged.to_excel('merge_files.xlsx', index=False)
excl_merged

,CE SAIN Weather Station,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,CE SAIN Weather Station RUA
0,Export timeframe: Data from 01-11-2020 to 30-1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Location: Royal University of Agriculture, Phn...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Line#,Date,Time,Water Content (m3/m3),Solar Radiation (W/m2),Rain (mm),Temperature (Celcius),RH (%),Wind Speed (m/s),Gust Speed (m/s),Wind Direction (Degree),Dew Point (Celcius),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135730,8349,21/09/29,23:40:00,0.2994,1,0,27.38,91,0,0,218,25.82,NaN
135731,8350,21/09/29,23:45:00,0.299,1,0,27.41,91.1,0,0,202,25.86,NaN
135732,8351,21/09/29,23:50:00,0.2994,1,0,27.41,90.9,0,0,159,25.82,NaN
135733,8352,21/09/29,23:55:00,0.2994,1,0,27.38,90.8,0,0,167,25.78,NaN
135734,8353,21/09/30,00:00:00,0.2994,1,0,27.31,91.3,0,0,164,25.8,NaN

In [21]:
pd.set_option('display.max_columns', None)

data = excl_merged
data.head()

,CE SAIN Weather Station,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,CE SAIN Weather Station RUA
0,Export timeframe: Data from 01-11-2020 to 30-1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Location: Royal University of Agriculture, Phn...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Line#,Date,Time,Water Content (m3/m3),Solar Radiation (W/m2),Rain (mm),Temperature (Celcius),RH (%),Wind Speed (m/s),Gust Speed (m/s),Wind Direction (Degree),Dew Point (Celcius),NaN

In [22]:
#since there are some Unnecessary colums appear from merged sooo clean them out
columns = ['CE SAIN Weather Station', 'CE SAIN Weather Station RUA']
data.drop(columns, inplace=True, axis=1)
data.head()

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Date,Time,Water Content (m3/m3),Solar Radiation (W/m2),Rain (mm),Temperature (Celcius),RH (%),Wind Speed (m/s),Gust Speed (m/s),Wind Direction (Degree),Dew Point (Celcius)

In [23]:
# Rename Columns
# Renaming certain columns for better readability
data.rename(
    columns={'Unnamed: 1': 'date', 
                        'Unnamed: 2': 'time',
                        'Unnamed: 3': 'water_content',
                        'Unnamed: 4': 'solar_radiation',
                        'Unnamed: 5': 'rain',
                        'Unnamed: 6': 'temperature',
                        'Unnamed: 7': 'rh',
                        'Unnamed: 8' : 'wind_speed',
                        'Unnamed: 9' : 'gust_speed',
                        'Unnamed: 10' : 'wind_direction',
                        'Unnamed: 11' : 'dew_point',
}, inplace=True)

In [24]:
#moreover, I can see the number of rows which has the name of features 
data.drop(data[data.date == 'Date'].index, inplace=True)
data[data['date'] == 'date']

Empty DataFrame
Columns: [date, time, water_content, solar_radiation, rain, temperature, rh, wind_speed, gust_speed, wind_direction, dew_point]
Index: []

In [35]:
#since there are some Unnecessary rows and null appear from merged sooo clean them out
data.dropna(subset=['date'], how='all', inplace=True)

In [36]:
#check the data is null or not
data.isnull().any()

date               False
time               False
water_content      False
solar_radiation    False
rain               False
temperature        False
rh                 False
wind_speed         False
gust_speed         False
wind_direction     False
dew_point          False
dtype: bool

In [37]:
#check the data is null or not
data.isnull().sum()

date               0
time               0
water_content      0
solar_radiation    0
rain               0
temperature        0
rh                 0
wind_speed         0
gust_speed         0
wind_direction     0
dew_point          0
dtype: int64