In [1]:
# importing the required modules
import glob
# Import the neccessary modules for data manipulation and visual representation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as matplot
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [6]:
path='../Cambodia_Weather_Forcasting_Prediction_With_Time_Series/datasets/raw_layer/kampong_thom'
file_list = glob.glob(path + "/*.xlsx")

excl_list = []

for file in file_list:
    excl_list.append(pd.read_excel(file))
excl_merged = pd.DataFrame()

for excl_file in excl_list:
    excl_merged = excl_merged.append(excl_file, ignore_index=True)

excl_merged

,CE SAIN Weather Station,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Export settings name: KPT,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Export timeframe: Data from 01-09-2021 to30-09...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Location: Kompong Thom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Line#,Date,Time,Water Content (m3/m3),Solar Radiation (W/m2),Rain (mm),Temperature (Celcius),RH (%),Wind Speed (m/s),Gust Speed (m/s),Wind Direction (Degree),Dew Point (Celcius),NaN,NaN,NaN,NaN,NaN,NaN
4,1,20/09/01,00:00:00,0.019,1,0,27.16,96.5,0,0,139,26.59,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29415,NaN,21/03/30,23:00:00,-0.4737,1,0,-97.48,0,1,2.3,192,-273,2877,NaN,NaN,NaN,NaN,NaN
29416,NaN,21/03/30,23:15:00,-0.4737,1,0,-97.48,0,0.3,1.3,194,-273,2878,NaN,NaN,NaN,NaN,NaN
29417,NaN,21/03/30,23:30:00,-0.4737,1,0,-97.48,0,0,0.7,201,-273,2879,NaN,NaN,NaN,NaN,NaN
29418,NaN,21/03/30,23:45:00,-0.4737,1,0,-97.48,0,0.3,1,201,-273,2880,NaN,NaN,NaN,NaN,NaN
29419,NaN,21/03/31,00:00:00,-0.4737,1,0,-97.48,0,0,0.7,202,-273,2881,NaN,NaN,NaN,NaN,NaN

In [7]:
pd.set_option('display.max_columns', None)

data = excl_merged
data.head()

,CE SAIN Weather Station,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Export settings name: KPT,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,Export timeframe: Data from 01-09-2021 to30-09...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Location: Kompong Thom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Line#,Date,Time,Water Content (m3/m3),Solar Radiation (W/m2),Rain (mm),Temperature (Celcius),RH (%),Wind Speed (m/s),Gust Speed (m/s),Wind Direction (Degree),Dew Point (Celcius),NaN,NaN,NaN,NaN,NaN,NaN
4,1,20/09/01,00:00:00,0.019,1,0,27.16,96.5,0,0,139,26.59,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#since there are some Unnecessary colums appear from merged sooo clean them out
columns = ['CE SAIN Weather Station', 'Export settings name']
data.drop(columns, inplace=True, axis=1)
data.head()

KeyError: "['CE SAIN Weather Station', 'Export settings name'] not found in axis"